name: build and push docker image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ ننزل الكود من الريبو
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ نجهز Java
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # 3️⃣ نبني المشروع بـ Maven
      - name: Build with Maven
        run: mvn clean package

      # 4️⃣ نعمل Login على Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 5️⃣ نبني و نعمل Push للصورة
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: gerges1710/simple-java-app:${{ github.ref_name }}
